body{
	background-color: #28decf;
}
.headborder{
	height: auto;
	border:5px solid #cf2950;
	text-align: center;
	color: #cf3129;
}
#table,th{
	position: relative;
	left: 320px;
	color: #cf2958;
	font-size: 20px;
	border-spacing: 15px;
	border-collapse: separate;
}

.border2{
	position: relative;
	border:5px double #9c0e1f;
	padding:2px;
	margin-right: 50%;
	color: #250759;
	height: 450px;
}
.border1{
	background-color: #250759;
	border: 5px double #9c0e1f;
	position: absolute;
	top: 45%;
	left: 1%;
	color: #e60935;
	width: 730px;
	height: 120px;
	overflow: auto;

}

.border3{
	background-color: #250759;
	border: 5px double #9c0e1f;
	position: absolute;
	top: 65%;
	left: 1%;
	width: 730px;
	height: 120px;
	overflow: auto;
	color: #e60935;

}
.border4{
	border:5px double #9c0e1f;
	position: absolute;
	right: 0%;
	width: 700px;
	height: 450px; 
	top: 180px;
	color: #e60935;
}
.border5{
	border:5px double #9c0e1f;
	text-align: center;
}
a:link{
	color: #e60935;
	background-color: transparent;
	text-decoration: none;
}
a:visited{
	color: #e60935;
	background-color: transparent;
	text-decoration: none;
}
a:hover{
	color: #e60935;
	background-color: transparent;
	text-decoration: none;
}
a:active{
	color: #e60935;
	background-color: transparent;
	text-decoration: none;
}